/* =============== FONT =============== */

body { 	font-family: 'Neucha', sans-serif }


/* Section block background colors */
.bg-watermelon { background-color: #FBBDD9 }
.bg-apple      { background-color: #B7F3D9 }
.bg-blueberry  { background-color: #8C6BBE }
.bg-lemon      { background-color: #F1F1BC }

/* ============== INTRODUCTION TEXT ============ */

h2 {
	font-size: calc(26px + (54 - 26) * ((100vw - 320px) / (1600 - 320)));
	color: #733fc0; 
	text-align: center; 
	line-height: 1.6;  
}

/* ======= CONTENT INSIDE  COLUMNS ======= */

/* Sub-headings  */
h3 {
	font-size: 36px;
	color: #ff0000;
	margin: 30px;
}

/* Text paragraphs */
p { 
	font-size: 24px;
	margin: 30px;
}

/* Sub-heading, paragraph text against dark background */
.bg-blueberry h3, .bg-blueberry p { color: #fff;}

/* Centre-align sub-headings and paragraphs on mobiles */
@media all and (max-width:767px) {
	h3, p { text-align: center;}
}

/* Desktop */
@media (min-width:768px) {
	h3, p { text-align: left;}
}

 /* Centre-align images on mobiles */
.img-fluid {
	max-width: 100%;
	height: auto;
  }